<div class="barraBusqueda">
  <div class="acciones">
    <table>
      <tr>
        <td><button id="buscarPersonaje">Buscar Personaje</button></td>
        <td><button id="crearPersonaje">Crear Personaje</button></td>
      </tr>
    </table>
  </div>
</div>
    <div>
        <table class="tabla">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Raza</th>
                    <th>Fecha Nacimiento</th>
                    <th>Nivel de Corrupción</th>
                    <th>Editar</th>
                    <th>Acciones</th>
                </tr>
            </thead>

            <tbody>
              @if (personajes.length > 0)
              {
                @for (item of personajes; track item.id)
                {
                  <tr>
                    <td>{{ item.nombre }}</td>
                    <td>{{ item.raza }}</td>
                    <td>{{ item.fechaNacimiento }}</td>
                    <td>{{ item.nivelCorrupcion }}</td>
                    <td>
                      <button (click)="editar(item.id)">Editar</button>
                    </td>
                    <td>
                      @if (item.fechaBaja === null)
                      {
                        <app-confirmar-popup [config]="bajaLogica(item.id)"></app-confirmar-popup>

                         <app-confirmar-popup [config]="bajaFisica(item.id)"></app-confirmar-popup>
                      } @else {
                         <app-confirmar-popup [config]="reactivar(item.id)"></app-confirmar-popup>
                      }
                    </td>
                  </tr>
                }
              }
              @else
              {
                <tr>
                  <td colspan="6">No se encontraron personajes</td>
                </tr>
              }
            </tbody>

        </table>
    </div>
