<div class="barraBusqueda">
  <div class="acciones">
    <table>
      <tr>
        <td><button id="buscarPersonaje">Buscar Personaje</button></td>
        <td><button routerLink="/crearPersonajes" id="crearPersonajes">Crear Personaje</button></td>
      </tr>
    </table>
  </div>
</div>

<div class="formulario">
  <form [formGroup]="formulario" (ngSubtmi)="enviar()">
  <div>
    <label for="">Nuevo Personaje:</label>
    <input pInputText type="text" formControlName="nombre"/>

    @if (formulario.get('nombre')?.invalid && formulario.get('nombre')?.touched)
    {
      <small>El nombre es obligatorio y debe tener, al menos, 3 caracteres</small>
    }
  </div>

  <div>
    <label>Raza del Personaje</label>
    <p-select [options]="razaPersonajes" formControlName="razaPersonajes"></p-select>

    @if (formulario.get('razaPersonajes')?.invalid && formulario.get('razaPersonajes')?.touched)
    {
      <small>La raza del persoanje es obligatoria</small>
    }
  </div>

   <div>
    <label>Fecha de nacimiento</label>
    <input pInputText type="date" formControlName="fechaNacimiento">
    @if (formulario.get('fechaNacimiento')?.invalid && formulario.get('fechaNacimiento')?.touched)
    {
      <small>La fecha de nacimiento es obligatoria</small>
    }
   </div>

  <div>
    <label>Nivel de corrupcion</label>
    <p-slider formControlName="corrupcion" [min]="0" [max]="100"></p-slider>

    @if (formulario.get('corrupcion')?.invalid && formulario.get('corrupcion')?.touched)
    {
      <small>La corrupción debe estar entre 0 y 100</small>
    }
  </div>

  <p-button type="submit" [disabled]="formulario.invalid">Guardar Personaje</p-button>

  <p-button type="button" (onClick)="limpiar()">Limpiar</p-button>
  </form>
</div>
